<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Listado de Productos</h3>

                <div class="card-tools">
                    <button mat-flat-button color="primary" (click)="openDialog()">Nuevo</button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" style="display: block;">
                <app-table [data]="productos" [columns]="tableColumns" [config]="tableConfig"
                    (action)="onTableAction($event)"></app-table>
            </div>

        </div>

    </div>
</div>